doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Statistic Overview
body
    h1 Cases by country
    div#overview
script(src="https://lab6-stats.herokuapp.com/primus/primus.js")
script(src="/javascript/stats.js")
